.heading {
    font-family: var(--fontHeading);
    color: var(--white);
 }
 
 .paragraph {
    font-family: var(--fontParagraph);
    font-weight: var(--fontNormal);
    color: var(--grayishBrown);
    line-height: 1.3em;
 }