.books {
    position: relative;
    padding: 0 2rem 0;
    background: var(--homeGradient);
    display: flex;
 
    &::before {
       position: absolute;
       content: '';
       right: 0;
       top: clamp(12.25rem, 37vw, 21.5625rem);
       background-color: var(--softBlue);
       height: clamp(12.625rem, 30vw, 22.1875rem);
       width: clamp(20rem, 35vw, 33rem);
       z-index: -1;
       border-bottom-left-radius: 9.5rem;
       border-top-left-radius: 9.5rem;
    }

    &__sidebar {
        width: 20%;
        margin-top: 7rem;
        color: var(--secondary);

        .sidebar {
            width: 100%;
            height: 80%;
            padding: 1rem;
            background: rgba(255, 255, 255, 0.14);
            border-radius: 16px;
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(8.1px);
            -webkit-backdrop-filter: blur(8.1px);
            border: 1px solid rgba(255, 255, 255, 0.45);
        }
    }
 
    &__container {
       padding: 9.0625rem 0 4.78125rem 0;
 
       @media screen and (min-width: 769px) {
          padding: 12.1875rem 0 2.90625rem 0;
       }
    }
 
    &__wrapper {
        color: white;
        display: flex;
        flex-direction: row;
        padding: 1rem;
    }

    &__contents {
        width: 100%;
        font-family: var(--fontParagraph);
        padding: 1rem;
    }

    &__heading {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .title {
            font-size: 5rem;
            font-weight: bold;
        }

        .subtitle {
            font-size: 2rem;
        }
    }

    &__underTitle {
        display: flex;
        justify-content: space-between;
        padding: 1rem;
    }

    &__review {
        text-align: justify;
        line-height: 2.5rem;
    }

    &__image {
        display: flex;
        justify-content: center;
        width: 50%;

        img {
            width: 100%;

            @media screen and (min-width: 769px){
                max-height: 45rem;
            }
        }
    }
}

