:root {
    --defaultTheme: hsla(148, 28%, 9%, 1);
    --secondary: hsla(48, 84%, 51%, 1);
    --grayishBrown: hsla(48, 19%, 91%, 1);

    --homeGradient: linear-gradient(0deg, rgba(74,59,7,1) 0%, rgba(0,0,0,1) 21%);
    --footerColor: rgb(204, 159, 13);

    --white: white;
    --black: black;
}