@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');

:root {
   --fontParagraph: 'Rubik', sans-serif;
   --fontNormal: 400;
   --fontSemiBold: 500;

   --fontHeading: 'Merriweather', serif;
}